# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
/out/
.shelf/

# Build artifacts
target/
build/
*.class
*.jar
*.war
*.ear
*.log
*.zip
*.tar.gz

# Maven
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/

# Operating System specific
.DS_Store
Thumbs.db
